body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.5
}

img {
    width: 600px;
    border-radius: 15%;
    margin: 35px 0 50px 0;
}

.press-start {
    margin-top: 40px;
    padding: 0 10px 0 10px;
}

#timer {
    font-size: 35px;
    font-weight: bold;
}

.well {
    background: rgba(255, 254, 254, 0.8);
}

#on-submit {
    visibility: hidden;
}

.questions {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #FF0033;
    border-top: black solid 4px;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 40px;
}

.social {
    text-align: center;
    padding-bottom: 20px;
}

.social a {
    margin: 0 10px 0 10px;
}

.fa {
    color: white;
}